#snippets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.snip {
  max-width: 409px;
  width: 80%;
  border: 1px solid #282c3452;
  background: #fff;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
}

.snip h2 {
  margin-bottom: 1rem;
}

.snip p {
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.75);
}

.snip .text {
  padding: 25px;
  padding-bottom: 0;
}

pre code {
  border-radius: 0;
}

